body{
  padding: 0;
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  font-weight: 400;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  margin: 0;
  padding: 0;
  list-style: none; }
h3 {
  margin: 0;
  padding: 0;
  list-style: none; }

h4 {
  margin: 0;
  padding: 0;
  list-style: none; }

h5 {
  margin: 0;
  padding: 0;
  list-style: none; }

h6 {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

li {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none !important;
  text-decoration: none !important; 
}

input {
  outline: none !important; 
}

button {
  outline: none !important; 
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


/*========= Hero Section Css====*/

.nav_header{
background: url('../images/banner.png');
height: 1000px;
display: block;
}
.container{
    max-width: 1400px;
    width: 100%;
    margin: auto;

}
.header_contant{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

.menu_area ul {
  display: flex;
}
.menu_area ul li {
margin: 0px 15px;
}
.menu_area ul li a {
color: #02073E;
text-align: center;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
transition:0.5s;
line-height: 33px; /* 206.25% */
}

.menu_area ul li a:hover{
color: #00C198;
transition:0.5s;
}
.join_button{

}
.join_button a{
    color: #FFF;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.16px;
    border-radius: 5px;
    background: #8D448B; 
    padding: 13px 25px;
    transition:0.5s;
}
.join_button a:hover{
 color: #00C198;
transition:0.5s; 
}

.join_button:hover{

}

/*====Hero_section_end =======*/ 
/*====bg_section_start=======*/ 
.bg_section{
    display: flex;
    background: #ffffffe3;
    border-radius: 5px;
    margin-top: 378px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 743px;
    padding: 30px 61px;
}
.bg_section h1{
    color: #0F2137;
    font-family: DM Sans;
    font-size: 51px;
    font-style: normal;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: -1.5px;
    padding-left: 20px;
}
.bg_section p{
    color: #0F2137;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
    padding-top: 58px;
    padding-bottom: 58px;
}
/*====bg_section_end=======*/ 
/*====start_clint_contant=======*/ 
.customer_area{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}
.container{

}
.customer_heading{
    max-width: 584px;
    width: 100%;
    margin: auto;
    padding-bottom: 120px;
}
.customer_heading h1{
color: #8D448B;
text-align: center;
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 40px;
padding-bottom: 12px;
text-transform: capitalize;
}
.customer_heading h4{
color: #0F2137;
    text-align: center;
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.5px;
}
.clint_contant{
padding-bottom: 148px;
}
.clint_contant ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*====End_clint_contant=======*/ 

/*====start_featured_spce=======*/ 

.featured_area{

}
.container{

}
.featured_contant_area{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.featured_contant{
  width: 50%;
  padding-right: 239px;
}
.featured_contant h1{
    color: #0F2137;
    font-family: DM Sans;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: -0.5px;
    padding-bottom: 28px;
}
.featured_contant p{
    color: #343D48;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}
.featured_image{
  width: 50%;
}

/*====end_featured_spce=======*/

/*====start_working_spce========*/

.working_space{
    padding-top: 140px;
    display: block;
    overflow: hidden;
}
.container{

}
.working_space_heading{
text-align: center;
    padding-bottom: 35px;
}
.working_space_heading h1{
    color: #8D448B;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
    padding-bottom: 10px;
}
.working_space_heading h4{
    color: #0F2137;
    text-align: center;
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.5px;
}
.working_space_area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
}

.ws_gallary{

    flex: 0 0 33%;
  max-width: 33.33%;
  width: 100%;
}
.ws_gallary img{
padding-bottom: 18px;
  width: 97%;
}

.ws_button{
display: flex;
    border-radius: 5px;
    background: #EDF0F2;
    justify-content: space-around;
    width: 1385px;
}
.ws_button a{
color: #0F2137;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: -0.2px;
}
/*====end_working_spce========*/
/*====start_customer_section========*/

.customer{
    padding-top: 205px;
    display: block;
    overflow: hidden;
}
.customer_all{
    display: flex;
    align-items: center;
}
.customer_left{

}
.customer_left img{

}
.customer_right{
    max-width: 476px;
    width: 100%;
}
.customer_right h1{
color: #0F2137;
    font-family: DM Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px;
    letter-spacing: -0.5px;
    padding-bottom: 35px;
}
.customer_right p{
    color: #343D48;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
    padding-bottom: 27px;
}
.customer_button{

}
.customer_button a{
color: #8D448B;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 42px; /* 262.5% */
}
/*====end_customer_section======*/


/*====start_product_features======*/

.product_features{
    padding-top: 209px;
}
.container{

}
.pf_heading{
    text-align: center;
    padding-bottom: 110px;
}

.pf_heading h1{
    color: #0F2137;
    text-align: center;
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -1.5px;
    padding-bottom: 5px;
}
.pf_heading p{
    color: #858B91;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.pf_area{

}
.pf_contant_full{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pf_contant{
flex: 0 0 33%;
    width: 33%;
    max-width: 100%;
}

.pf_contant_row{

}

.pf_contant_column{
    display: flex;
    padding-bottom: 80px;
}
.pf_icon_area{
    flex: 0 0 30%;
    max-width: 30%;
    width: 100%;
}
.pf_icon_area img{

}
.pf_contant_area{
    flex: 0 0 70%;
    max-width: 62%;
    width: 100%;
}
.pf_contant_area h1{
    color: #0F2137;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    padding-bottom: 10px;
}
.pf_contant_area p{
color: #343D48;
    font-family: DM Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
.product_button{

}

.product_button a{
color: #3183FF;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px;
}

/*===start_Blog_Post===*/
.blog_post{
      padding-top: 150px;
    padding-bottom: 200px;
}
.blog_heading{
text-align: center;
}
.blog_heading h1{
    color: #8D448B;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-transform: capitalize;
    padding-bottom: 18px;
}
.blog_heading h4{
    color: #0F2137;
    text-align: center;
    font-family: DM Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.5px;
    padding-bottom: 58px;
}

.blog_post_full{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.blog_post_area{
    flex: 0 0 33%;
    max-width: 33%;
    width: 100%;
}
.blog_image{

}
.blog_image img{
    border-radius: 5px;
}
.blog_contant {
    max-width: 354px;
    width: 100%;
}
.blog_contant h2{
    color: #0F2137;
    font-family: DM Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    padding: 20px 0px;
}
.blog_contant p {
color: #343D48;
font-family: DM Sans;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 26px;
}
.blog_contant p img{
    padding-right: 10px;
}
/*===end_Blog_Post===*/

/*===Start_Footer_Section==*/

.footer_section{
    background: #020718;
}
.footer_heading{
text-align: center;
    padding-top: 143px;
    padding-bottom: 50px;
}
.footer_heading h1{
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.5px;
    padding-bottom: 10px;
}
.footer_heading p{
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.5px;
}
.button_area{
    padding-bottom: 140px;
}
.Subscribe_area{
    display: flex;
    justify-content: center;
}
.subscribe_mail_button{
    max-width: 388px;
  width: 100%;
  margin-right: 15px;
}
.subscribe_mail_button input[type=email]{
color: #fffffffa;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  border-radius: 5px;
  background: #161B2A;
  border: none;
  padding: 20px 30px;
  margin-right: 15px;
  max-width: 388px;
  width: 100%;
}
.Subscribe_button{
    
}
.Subscribe_button input[type=submit]{
    color: #020718;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -0.5px;
    padding: 20px 28px;
}

.footer_menu_nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 70px;
    border-top: 1px solid;
    color: #7c7c7c;
    padding-top: 20px;
}
.footer_logo{
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    display: inline-flex;
}
.footer_logo a{

}
.footer_logo p{
    color: #afaaaa;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    padding-left: 6px;
}
.footer_logo a img{

}

.footer_menu ul {
display: flex;
}
.footer_menu ul li{
padding-left: 20px;
}
.footer_menu ul li a {
    color: #adadad;
    text-align: right;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
}

/*===end_Footer_Section==*/
